{% extends '../main/base.html' %}

{% load static %}

{% block content %}

<div class="cart__main__title">

    {% include './blocks/space20.html' %}
    <div class="nice_title3 bold">
        <span>
        Оформление заказа
        </span>
    </div>

</div>

<div class="offer__page__container">
    <div class="offer__page__block1">
        <div class="offer__page__block1__sub">
            <div class="offer__page__block1__sub__title">
                <span>
                    Контактные данные
                </span>
            </div>
            <div class="offer__page__block1__sub__content">

                <div class="offer__page__block1__sub__content__form">
                
                <input type="text"
                placeholder="Имя и Фамилия"
                autocomplete="off"
                class="cart__input">
                <input type="text"
                placeholder="Телефон"
                autocomplete="off"
                class="cart__input">
                <input type="text"
                placeholder="Почта"
                autocomplete="off"
                class="cart__input">
                </div>

            </div>


            <div class="offer__page__block1__sub__title">
                <span>
                    Способ доставки
                </span>
            </div>

            <div class="delivery__block__main">
                <div class="delivery__block__main__card
                delivery__method"
                data-toogle="#cart_input_cura">
                    <span>
                        Курьером
                    </span>
                </div>
                <div class="delivery__block__main__card
                delivery__method"
                data-toogle="#cart_input_own">
                    <span>
                        Самовывоз - бесплатно
                    </span>
                </div>
            </div>


            <div class="delivery__subinfo__container">

            <input type="text"
                placeholder="Адрес доставки (город, улица, дом, квартира)"
                autocomplete="off"
                class="cart__input"
                id="cart_input_cura">
            <span
            id="cart_input_own">
                Адрес самовывоза: г. Херсон, ул. Суворова, 23
            </span>
            </div>


            <div class="offer__page__block1__sub__title">
                <span>
                    Способ оплаты
                </span>
            </div>

            <div class="delivery__block__main">
                <div class="delivery__block__main__card
                payment__method">
                    <span>
                        Наличными при получении
                    </span>
                </div>
                <div class="delivery__block__main__card
                payment__method">
                    <span>
                        Безналичный расчет
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="offer__page__block2">
        <div class="offer__page__block2__content">
            <div class="offer__page__block2__content__item">
                <div class="offer__page__block2__content__item__first">
                    <span class="your__cart__block__title">
                        Ваш заказ
                    </span>
                </div>
                <div class="offer__page__block2__content__item__second">
                    <a class="offer__cart__back"
                    href="{% url 'cart:index' %}">
                        Редактировать
                    </a>
                </div>
            </div>

            {% for item in cart.item_set.all  %}

            <div class="offer__page__block2__content__item">

                <div class="offer__page__block2__content__item__first">
                
                    <div class="offer__page__block2__content__item__prinfo">
                        <img src="{{ item.imgsrc }}" alt="">
                        <div class="offer__page__block2__content__item__prinfo__second">
                            <a class="offer__page__block2__content__item__prinfo__second__name"
                            href="{% url 'main:product' item.pr_id %}">
                                {{ item.name }}
                            </a>
                            <span class="offer__page__block2__content__item__prinfo__second__name">
                                {{ item.quantity }} шт.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="offer__page__block2__content__item__second">
                    <span>
                        {{ item.product_get_qprice  }}
                    </span>
                </div>

            </div>

            {% endfor %}

        <div class="offer__page__block2__content__item">
            <div class="offer__page__block2__content__item__first">
                <span class="your__cart__block__title3">
                    Итого
                </span>
            </div>
            <div class="offer__page__block2__content__item__second">
                <span class="your__cart__block__value4">
                    {{ cart.get_total }} грн.
                </span>
            </div>
        </div>

        <div class="">
            <a class="cart__checkout__button">
                <span>
                    Разместить заказ
                </span>
            </a>
        </div>


        </div>
    </div>
</div>


<script>
    $(".main__site__wrapper__main").addClass("bg1")

    $('.delivery__method').click(function() {
        setDeliveryActive(this)
    })

    $(".payment__method").click(function() {
        setPaymentActive(this)
    })

    $(".cart__checkout__button").click(function() {
        // window.location = "{% url 'cart:order_created' %}"
    })

</script>

{% endblock content %}