{% extends './base.html' %}

{% block content %}


    <div class="main_wrapper1">
    

    <div class="desktop_menu_wrapper">
    

    {% include './blocks/desktop_menu_block.html' %}

    <div class="main__content">

    <div class="nice_title3 bold flex">
        <span>
            Доставка и оплата
        </span>
    </div>

    <div class="contact__block__item">
        <div class="nice_title3 light bold p10">
            <span>
                Способы доставки:
            </span>
        </div>
        <div class="pd10 semibold mb5 flex">
            Новая почта
            <span class="delivery_item_tip mb5">
                Бесплатно при условии
            </span>
        </div>
        <div class="pd10 green semibold mb5">
        Бесплатно при стоимости заказа от 1000 грн.</div>
        <div class="pd5 mb5">
        Отправка новой почтой осуществляется ежедневно</div>
        <div class="pd5 mb5">
        Стоимость доставки рассчитывается согласно тарифам Новой Почты</div>
        <div class="pd5 mb5">

            Детально с тарифами вы можете ознакомиться на сайте перейдя по ссылке: <br>
            <a class="center link"
            href="https://novaposhta.ua/ru/basic_tariffs">
                Новая Почта
            </a>
        </div>
    </div>
    <div class="contact__block__item">
        <div class="pd10 semibold mb5 flex">
            Доставка "Укрпошта"
            <span class="delivery_item_tip mb5">
                Бесплатно при условии
            </span>
        </div>
        <div class="pd10 green semibold mb5">
        Бесплатно при стоимости заказа от 1000 грн.</div>
        <div class="pd5 mb5">
        Отправка новой почтой осуществляется ежедневно</div>
        <div class="pd5 mb5">
        Стоимость доставки рассчитывается согласно тарифам Новой Почты</div>
        <div class="pd5 mb5">

            Детально с тарифами вы можете ознакомиться на сайте перейдя по ссылке: <br>
            <a class="center link"
            href="https://novaposhta.ua/ru/basic_tariffs">
                Новая Почта
            </a>
        </div>
    </div>

    <div class="contact__block__item">
        <div class="pd10 semibold mb5 flex">
            Самовывоз
            <span class="delivery_item_tip mb5">
                Бесплатно 
            </span>
        </div>
        <div class="pd5 mb5">
            Вы можете забрать свой заказ самостоятельно в нашем фирменном магазине по адресу: <br>
            г. Херсон, ул. Суворова, 23.
        </div>
        <div class="pd5 mb5">
            Оплата возможна на месте забора заказа: наличными, картой либо предоплатой на карту ПриватБанка.
        </div>
    </div>


    <div class="contact__block__item">
        <div class="nice_title3 light bold p10">
            <span>
                Способы оплаты:
            </span>
        </div>
        <div class="pd10 semibold mb5 flex">
            Предоплата
        </div>
        <div class="pd5 mb5">
            Вы можете оплатить свой заказ на карту ПриватБанка, любым удобным вам способом.
        </div>
        <div class="pd10 semibold mb5 flex">
            Наложенный платеж
        </div>
        <div class="pd5 mb5">
            Вы можете оплатить свой заказ, на почтовом отделении УкрПочты и НоваяПочта. <br>
            Отправляем заказы наложенным платежом на сумму от 100 грн.
        </div>
    </div>


    
        {% comment %} end of main content {% endcomment %}
    </div>

    </div>

    </div>
    
{% endblock content %}