{% load static %}
<div class="footer_wrapper">
    <div class="footer_content">
        <div class="footer_first">
            <div class="footer_logo footer_item">
                <img src="{% static 'images/main_logo.svg' %}" alt="">
            </div>
            <div class="footer_company footer_item">
                FastCode - 2021
            </div>
           
        </div>
       <div class="footer_second footer_item">
           <span>
           Контакты
           </span>
           <div class="footer_second__number">
                <a href="tel:+79782215509">
                +7(978)-221-55-09
                </a>
           </div>
       </div>
    </div>
</div>