{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    

    <script src="{% static 'plugins/jquery.magnific-popup.js' %}"></script>

    <script src="{% static 'js/wayp/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/wayp/sticky.min.js' %}"></script>

    <script src="https://kit.fontawesome.com/bca16a3855.js" crossorigin="anonymous"></script>


    <script src="{% static 'slick/slick.js' %}"></script>

    <script src="{% static 'js/owlcarousel/owl.carousel.js' %}"></script>

    <script src="{% static 'plugins/selectize/selectize.js' %}"></script>

    <script src="{% static 'plugins/el-pagination/el-pagination.js' %}"></script>

    <script src="{% static 'js/particles.js' %}"></script>

    <script src="{% static 'plugins/swiper/swiper-bundle.js' %}"></script>
    <script src="{% static 'plugins/swiper/swiper-bundle.min.js' %}"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->


    <script>
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', "{% static 'js/particles.json' %}", function() {
          console.log('callback - particles.js config loaded');
        });
        </script>