{% extends './base.html' %}

{% block content %}


    <div class="main_wrapper1">
    

    <div class="desktop_menu_wrapper">
    

    {% include './blocks/desktop_menu_block.html' %}

    <div class="main__content">

    <div class="nice_title3 bold flex">
        <span>
            Возврат и обмен
        </span>
    </div>

    <div class="contact__block__item">
        <div class="pd5 mb5">
            Компания осуществляет возврат и обмен товаров надлежащего качества согласно Закону
            <a class="link"
            href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">
                "О защите прав потребителей"
            </a>
        </div>
        <div class="pd5 mb5 semibold">
            Сроки возврата и обмена
        </div>
        <div class="pd5 mb5">
            Возврат и обмен товаров возможен в течение 
            <strong> 14 дней </strong>
            после получения товара покупателем.
        </div>
        <div class="pd5 mb5">
            <strong> Обратная доставка товаров </strong>
            осуществляется по договоренности.
        </div>
        <div class="pd5 mb5 semibold">
            Условия возврата для товаров надлежащего качества
        </div>
        <div class="pd5 mb5">
            Вы можете вернуть товар или обменять его, если: 
            <ul>
                <li>
                    товар не был в употреблении и не имеет следов использования потребителем: царапин, сколов, потёртостей, пятен и т. п.;
                </li>
                <li>
                    товар полностью укомплектован и сохранена фабричная упаковка; 
                </li>
                <li>
                    сохранены все ярлыки и заводская маркировка;
                </li>
                <li>
                    товар сохраняет товарный вид и свои потребительские свойства. 
                </li>
            </ul>
        </div>
        <div class="pd5 mb5">
            Согласно закону 
            <a class="link"
            href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">
                "О защите прав потребителей"
            </a>, 
            компания может отказать потребителю в обмене и возврате товаров надлежащего качества, если они относятся к категориям, указанным в действующем
            <a class="link"
            href="https://zakon.rada.gov.ua/laws/show/172-94-%D0%BF#Text">
                "Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату и обмену"
            </a>.
        </div>
    </div>  


    </div>

    
        {% comment %} end of main content {% endcomment %}
    </div>

    </div>

    </div>
    
{% endblock content %}