@import './vars.scss';

.cart__main {
    // background-color: $bg-nice;
    margin: 0 20;
}

.cart__container {
    display: flex;
    flex-direction: row;
    padding: 30 0;
    width: 100%;
    &__products {
        border-radius: 3px;
        width: 65%;
        background-color: white;
    }
    &__checkout {
        left: 63%;
        right: 20%;
        position: absolute;
        border-radius: 3px;
        margin-left: 24px;
        width: 35%;
        background-color: white;
        &__content {
            margin: 30px;
        }
    }
}

.cart__checkout__button {
    color: white;
    text-decoration: none;
    margin: 10px auto;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    // width: 304px;
    // max-width: 304px;
    max-width: 99%;
    min-width: 10px;
    background-color: $nice-green;
    min-height: 56px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        text-decoration: none;
        font-family: $main-medium;
        color: white;
        font-size: 16px;
    }
    &:hover {
        background-color: $nice-green-hover;
        text-decoration: none;
    }
}

#checkout_sub_text {
    color: rgb(128, 141, 154);
    font-size: 14px;
    font-family: $main-font-semilight;
}

.your__cart__block {
    margin: 30 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        color: $nice-black;
        font-size: 20px;
        font-family: $main-bold;
    }
    &__value {
        color: $nice-grey;
        font-family: $main-font-light;
        font-size: 14px;
    }
    &__title2 {
        font-size: 14px;
        color: $nice-black;
        font-family: $main-font-semilight;
    }
    &__title3 {
        font-size: 20px;
        color: $nice-black;
        font-family: $main-medium;
    }
    &__value2 {
        font-size: 14px;
        color: $nice-black;
        font-family: $main-medium;
    }
    &__value3 {
        font-size: 14px;
        color: $sale-price;
        font-family: $main-medium;
    }
    &__value4 {
        font-size: 20px;
        color: $nice-black;
        font-family: $main-medium;
    }
}


.cart__main__title {
    margin-left: 20px;
}

.cart__container__products__item {
    margin: 0 20;
    padding: 15 0;
    border-bottom: 1px solid $bg-nice;
    display: flex;
    justify-content: space-between;
    &__img {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
    }
    &__info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 25;
        &__name {
            a {
                cursor: pointer;
                font-size: 15px;
                font-family: $main-font-semilight;
                text-decoration: none;
                color: black;
            }
        }
        &__btns {
            display: flex;
        }
    }

    &__price {
        width: 50%;
        text-align: center;
        &__sale {
            color: $nice-black;
            font-size: 15px;
            font-family: $main-medium;
        }
        &__regular {
            margin: 10 0;
            // display: flex;
            span {
                
            }
        }
    }
    &__count {
        width: 50%;
        &__main {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
            &__btn i {
                cursor: pointer;
                color: $main-color;
                margin: 0 10;
                // transform: scale(1.0);
                transition: all 0.2s;
                &:hover {
                    background-color: $main-color-hover;
                    color: white;
                    transform: scale(1.1);
                    border: 2px solid $main-color-hover;
                }
            }
        }
    }
}

.cart__price__reg1 {
    position: relative;
        font-size: 13px;
        font-family: $main-font-light;
        color: #808d9a;
        &::before {
            top: 35%;
            left: 0;
            content: "";
            position: absolute;
            width: 37px;
            height: 1px;
            background-color: #808d9a;
        }
}

.cart__container__products__item__info__container {
    display: flex;
    width: 63%;
}

.cart__container__products__item__price__regular__disc {
    margin: 0 5;
    color: $sale-label-color;
    font-size: 14px;
    font-family: $main-font-semilight;
}


.cart__container__products__item__btn {
    margin-right: 16px;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: $main-font-light;
    color: $main-color;
    margin-top: 10px;
}

.cart__container__products__item__second__container {
    display: flex;
    width: 37%;
}

@media (max-width: 965px) {
    .cart__container {
        flex-direction: column;
        &__products {
            margin: 0px auto;
            width: 98%;
        }
        &__checkout {
            margin: 20px auto;
            width: 98%;
            position: relative;
            left: 0;
            right: 0;
        }
    }
}

@media (max-width: 660px) {
    .cart__container__products__item {
        flex-direction: column;
    }
    .cart__container__products__item__info__container {
        width: 100%;
        justify-content: space-between;
    }
    .cart__main {
        margin: 0 0;
    }
    .cart__container__products__item__second__container {
        margin: 20 0;
        width: 100%
    }
    .cart__container__products__item__info {
        margin-left: 10px;
        width: 75%;
    }
    .cart__container__products__item__info__btns {
        text-align: center;
        margin: 10 0;
        flex-direction: column;
    }
    .cart__container__products__item__btn {
        font-size: 14px;
        margin: 15 0 0 0;
    }
    #divide__delete {
        display: none;
    }
}

.item__btn__cart {
    i {
        font-size: 20px;
    }
    span {
        color: white;
        border-radius: 3px;
        padding: 3 7;
    }
}

#item_btn_addfavorite {
    span {
        border: 1px solid $main-color;
        color: $main-color;
        transition: all 0.2s;
        &:hover {
            color: white;
            background-color: $main-color;
        }
    }
}

#item_btn_deletefromcart {
    span {
        color: #f91155;
        border: 1px solid #f91155;
        transition: all 0.2s;
        &:hover {
            background-color: #f91155;
            color: white;
        }
    }
    
}


