@font-face {
  font-family: "main_light";
  src: url("./fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "main_regular";
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "main_semi_bold";
  src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "main_medium";
  src: url("./fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "main_bold";
  src: url("./fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "main_ebold";
  src: url("./fonts/Montserrat-ExtraBold.ttf");
}