$main-font-light: "gpro-text-light";
$main-font-semilight: "gpro-text-semilight";
$main-font: "gpro-text-regular";
$main-medium: "gpro-text-medium";
$main-bold: "gpro-text-bold";
// $main-color: #0CBABA;
// $main-color: #FA5421;
$main-color: #3ac267;
$main-grey: #D3D3D3;    
$main-black: #222222;
// $main-color-hover: #119d9d;
$main-color-hover: #33b062;
$nice-green: #3ac267;
$nice-green-hover: #33b062;
$sale-price: #f91155;
$sale-label-color: rgb(249, 17, 85);
$sale-price-size: 30px;
$old-price: #d6dbe0;
$old-price-size: 20px;
$main-radius: 8px;
$cart-radius: 3px;
$cart-padding: 8px 19px;
$cart-transition: all 0.2s;
$bg-nice: rgb(243,245,253);
$bg-nice2: #e5efff;
$bg-nice3: rgb(246,247,248);
$find-color: #005bff;
$input-bg: #f3f5fd;
$nice-blue: #0892d0;
$nice-black: #001a34;
$nice-black2: rgb(14, 19, 18);
$nice-grey: #808d9a;
$nice_yellow: rgb(246, 233, 120);
$nice-red: #ff0038;
$amber-orange: #ffbf00;