<div class="contacts_container_wrapper__main">
    <div class="contacts_container_wrapper">
        <div class="contacts_content1">
            <div class="contacts__title">
                Наши контакты
            </div>
            <!-- <div class="contact__item">
                <div class="contact__item__icon">
                    <i class="fa fa-route"></i>
                </div>
                <div class="contact__item__text">
                    Симферополь, ул. Киевская, д. 126
                </div>
            </div> -->
            <div class="contact__item">
                <div class="contact__item__icon">
                    <i class="fa fa-phone-alt"></i>
                </div>
                <div class="contact__item__text">
                    <a href="tel:+79782215509">
                    +7 (978)-221-55-09
                    </a>
                </div>
            </div>
        </div>
        <div class="contacts_content2">
            <div class="contacts__title2">
                Сделаем Ваш проект еще лучше!
            </div>

            <input name="call_phone2"
            class="contact__form__input"
                type="text" placeholder="Телефон*">
            <div class="contact2_button contact__form">
                <span class="nice_button">
                    <span id="send_call_phone2">
                    Узнать как
                    </span>
                </span>
            </div>
        </div>
    </div>
    </div>