{% load static %}

<div class="swiper-container page_main_slider pointer">
    <div class="swiper-wrapper">
        <div class="swiper-slide main_slider_item">
            <img src="{% static 'images/alb.jpg' %}" alt="">
        </div>
        <div class="swiper-slide main_slider_item">
            <img src="{% static 'images/alb.jpg' %}" alt="">
        </div>
        <div class="swiper-slide main_slider_item">
            <img src="{% static 'images/alb.jpg' %}" alt="">
        </div>
    </div>

    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    {% comment %} <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> {% endcomment %}

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->

</div>



<script>

{% comment %} const swiper = new Swiper('.page_main_slider', {
  // Optional parameters
  direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
}); {% endcomment %}

</script>