<div class="popup_contact">
    <div class="popup_contact_content">
        <div class="nice_title2 light center">
            <span>
                Оставить заявку
            </span>
        </div>
        <div class="popup_contact_content_description">
            <span>
                Наш менеджер скоро свяжется с Вами 
            </span>
        </div>
        <div class="popup_contact_content_form">
            <input 
            class="call_form_input nobg popup_contact_content_form__input"
            placeholder="Телефон*"
            type="text" 
            name="call_phone3">
            <div class="nice_button thin center popup_contact_content_form_btn"
            id="send_call_phone3">
                <span>
                    Отправить
                </span>
            </div>
        </div>
    </div>
    <div class="popup_contact_close">
        <i class="fa fa-close popup__contact__close"></i>
    </div>
</div>
<div class="popup_contact_bg">
</div>