<div class="contacts_popup"
    id="thank_popup">
    <div class="contacts_popup_content">
        <div class="nice_title2 center light">
            <span>
                Ваша заявка принята
            </span>
        </div>
        <div class="contacts_popup_subtitle">
            <span>
                Наш менеджер скоро свяжется с Вами.
            </span>
        </div>
        <div class="nice_button red wide contacts_popup_button">
            <span id="thank_popup_close">
                Закрыть
            </span>
        </div>
    </div>
</div>
<!-- bg for contacts popup -->
<div class="contacts_popup_bg"></div>