<div class="request_call_container">
    <div class="nice_title2">
        <span>
            Обсудим ваш проект?
        </span>
    </div>
    <div class="request_call_form">
        <div class="request_call_form_first">
            <input class="call_form_input" 
            name="call_name" autocomplete="off" 
            placeholder="Имя*"
            type="">
            <input class="call_form_input" 
            name="call_phone" autocomplete="off" 
            placeholder="Телефон*"
            type="">
            <input class="call_form_input" 
            name="call_mail" autocomplete="off" 
            placeholder="Почта"
            type="">
        </div>
        <div class="request_call_form_first_second">
            <input class="call_form_input call_form_input_about" 
            name="call_about" autocomplete="off" 
            placeholder="Расскажите о вашем проекте"
            type="">
        </div>
        <div class="request_call_send nice_button">
            <span id="send_call_phone">
                отправить
            </span>
        </div>
    </div>
</div>