<div class="adv__wrapper">

    <div class="nice_title center green middle">
        <span>
        Что мы можем?
        </span>
    </div>

    <div class="adv__main">

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Создание информационного сайта для фирмы, компании, агенства.
            </div>
            <div class="adv__main__item__counter">
                01
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Разработка одностраничного сайта для продажи услуг или небольшого количества товара целевой аудитории.
            </div>
            <div class="adv__main__item__counter">
                02
            </div>
        </div>

        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Оказываем услуги рекламы в Интернете
            </div>
            <div class="adv__main__item__counter">
                03
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Интегрируем работу с социальными сетями
            </div>
            <div class="adv__main__item__counter">
                04
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Разрабатываем и внедряем чат-ботов для Telegram, Vk, WhatsApp, Viber
            </div>
            <div class="adv__main__item__counter">
                05
            </div>
        </div>
        <div class="adv__main__item">
            <div class="adv__main__item__title">
                Разработка уникального лого для вашего бренда
            </div>
            <div class="adv__main__item__counter">
                06
            </div>
        </div>
        

    </div>
</div>