<div class="we_can_wrapper">
    <div class="nice_title2 center">
        <span>
            Что мы умеем
        </span>
    </div>
    <div class="we_can_container">
        <div class="we_can_item">
            <i 
            class="fa fa-chevron-right we_can_item__icon">
            </i>
            <span class="we_can_item__text">
                Разработка лендингов, сайтов, интернет-магазинов
            </span>
        </div>
        <div class="we_can_item">
            <i 
            class="fa fa-chevron-right we_can_item__icon">
            </i>
            <span class="we_can_item__text">
                Создание логотипа, фирменного стиля, редизайн сайта
            </span>
        </div>
        <div class="we_can_item">
            <i 
            class="fa fa-chevron-right we_can_item__icon">
            </i>
            <span class="we_can_item__text">
                Реклама вашего бизнеса в Google, Yandex, Facebook, Vk.
            </span>
        </div>
    </div>
</div>