{% include './space20.html' %}
{% include './space20.html' %}
<div class="favorite__empty"
id="favorite_empty_block">
    {% include './space20.html' %}
    {% include './space20.html' %}
    <span>
        Товаров в избранном не найдено. 
    </span>
    <p></p>
    Добавьте товар, чтобы он здесь отобразился.
    {% include './space20.html' %}
    {% include './space20.html' %}
    <div class="continue__shopping">
        <a id="continue__shopping"
        href="{% url 'products:index' %}">
            Продолжить покупки
        </a>
    </div>
    {% include './space20.html' %}
    {% include './space20.html' %}
    {% include './space20.html' %}
</div>